{% extends "navin.html" %}
{% block title %}Account Settings{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

<section class="settings-container">
  <h2>Account Settings</h2>

  <form action="{{ url_for('settings') }}" method="POST" class="settings-form">
    <label>First Name</label>
    <input type="text" name="first_name" value="{{ user.first_name or '' }}" required>

    <label>Last Name</label>
    <input type="text" name="last_name" value="{{ user.last_name or '' }}" required>

    <label>Email</label>
    <input type="email" name="email" value="{{ user.email or '' }}" required>

    <label>Mobile Number</label>
    <input type="text" name="mobile_number" value="{{ user.mobile_number or '' }}">

    <label>Home Number</label>
    <input type="text" name="home_number" value="{{ user.home_number or '' }}">

    <label>Street</label>
    <input type="text" name="street" value="{{ user.street or '' }}">

    <label>Barangay</label>
    <input type="text" name="barangay" value="{{ user.barangay or '' }}">

    <label>Municipality</label>
    <input type="text" name="municipality" value="{{ user.municipality or '' }}">

    <label>City</label>
    <input type="text" name="city" value="{{ user.city or '' }}">

    <label>Province</label>
    <input type="text" name="province" value="{{ user.province or '' }}">

    <label>Zip Code</label>
    <input type="text" name="zip_code" value="{{ user.zip_code or '' }}">

    <label>User Type</label>
    <input type="text" name="user_type" value="{{ user.user_type or '' }}">

    <button type="submit" class="save-btn">Save Changes</button>
  </form>
</section>
{% endblock %}
